.profile__edit-button {
  padding: 0;
  background-image: url(../../../images/editButton.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  border: none;
  align-self: end;
  grid-row-start: 2;

  min-width: 18px;
  min-height: 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .profile__edit-button {
    grid-row-start: 1;
    grid-column-start: 3;

    min-width: 24px;
    min-height: 24px;
  }
}
