.profile {
  margin: 0 auto;
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  @media screen and (min-width: 1280px) {
    .profile {
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }
  }
