.popup__container-image {
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
    /* display: flex;
    justify-self: center;
    align-self: center; */
   
   
    /* box-sizing: border-box; */
 /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px; */
  }
  
/* 
@media screen and (min-width: 1280px) {
    .popup__container-image{
        min-width: 816px,
    }
  } */