.form__input {
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
  box-sizing: border-box;
  margin-bottom: 28px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
